<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaptureGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CaptureGame.Properties.Settings>
            <setting name="GameName" serializeAs="String">
                <value>Super Smash Bros. Ultimate</value>
            </setting>
            <setting name="LastVideoDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAudioIn" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAudioRenderer" serializeAs="String">
                <value />
            </setting>
        </CaptureGame.Properties.Settings>
    </userSettings>
</configuration>